@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    padding: theme(padding.5);
    margin: theme(margin.2);
    border-width: theme(borderWidth.2);
    border-radius: theme(borderRadius.md);
    background-color: theme(colors.white);
  }

  .form-control {
    display: grid;
    justify-items: stretch;
    align-content: start;
    gap: theme(gap.2);
  }

  .form-control input {
    padding: theme(padding.2);
    border-width: theme(borderWidth.2);
    border-radius: theme(borderRadius.md);
    filter: theme(dropShadow.md);
  }

  .form-control select {
    padding: theme(padding.2);
    border-radius: theme(borderRadius.md);
    filter: theme(dropShadow.md);
  }

  .button {
    border-radius: theme(borderRadius.md);
    border-width: theme(borderWidth.2);
    font-weight: theme(fontWeight.bold);
    filter: theme(dropShadow.md);
  }

  .button-primary {
    color: theme(colors.white);
    background-color: theme(colors.primary.DEFAULT);
    border-color: theme(colors.primary.DEFAULT);
  }
  .button-primary:hover {
    background-color: theme(colors.primary.600);
    border-color: theme(colors.primary.600);
  }
  .button-primary:disabled {
    color: theme(colors.gray.200);
    background-color: theme(colors.primary.800);
    border-color: theme(colors.primary.800);
  }

  .button-primary-outline {
    color: theme(colors.primary.DEFAULT);
    background-color: theme(colors.white);
    border-color: theme(colors.primary.DEFAULT);
  }
  .button-primary-outline:hover {
    color: theme(colors.primary.600);
    border-color: theme(colors.primary.600);
  }
  .button-primary-outline:disabled {
    color: theme(colors.primary.800);
    background-color: theme(colors.gray.200);
    border-color: theme(colors.primary.800);
  }

  .button-info {
    color: theme(colors.white);
    background-color: theme(colors.info.DEFAULT);
    border-color: theme(colors.info.DEFAULT);
  }
  .button-info:hover {
    background-color: theme(colors.info.600);
    border-color: theme(colors.info.600);
  }
  .button-info:disabled {
    color: theme(colors.gray.200);
    background-color: theme(colors.info.800);
    border-color: theme(colors.info.800);
  }

  .button-info-outline {
    color: theme(colors.info.DEFAULT);
    background-color: theme(colors.white);
    border-color: theme(colors.info.DEFAULT);
  }
  .button-info-outline:hover {
    color: theme(colors.info.600);
    border-color: theme(colors.info.600);
  }
  .button-info-outline:disabled {
    color: theme(colors.info.800);
    background-color: theme(colors.gray.200);
    border-color: theme(colors.info.800);
  }

  .button-danger {
    color: theme(colors.white);
    background-color: theme(colors.danger.DEFAULT);
    border-color: theme(colors.danger.DEFAULT);
  }
  .button-danger:hover {
    background-color: theme(colors.danger.600);
    border-color: theme(colors.danger.600);
  }
  .button-danger:disabled {
    color: theme(colors.gray.200);
    background-color: theme(colors.danger.800);
    border-color: theme(colors.danger.800);
  }

  .button-danger-outline {
    color: theme(colors.danger.DEFAULT);
    background-color: theme(colors.white);
    border-color: theme(colors.danger.DEFAULT);
  }
  .button-danger-outline:hover {
    color: theme(colors.danger.600);
    border-color: theme(colors.danger.600);
  }
  .button-danger-outline:disabled {
    color: theme(colors.danger.800);
    background-color: theme(colors.gray.200);
    border-color: theme(colors.danger.800);
  }

  .button-warning {
    color: theme(colors.white);
    background-color: theme(colors.warning.DEFAULT);
    border-color: theme(colors.warning.DEFAULT);
  }
  .button-warning:hover {
    background-color: theme(colors.warning.600);
    border-color: theme(colors.warning.600);
  }
  .button-warning:disabled {
    color: theme(colors.gray.200);
    background-color: theme(colors.warning.800);
    border-color: theme(colors.warning.800);
  }

  .button-warning-outline {
    color: theme(colors.warning.DEFAULT);
    background-color: theme(colors.white);
    border-color: theme(colors.warning.DEFAULT);
  }
  .button-warning-outline:hover {
    color: theme(colors.warning.600);
    border-color: theme(colors.warning.600);
  }
  .button-warning-outline:disabled {
    color: theme(colors.warning.800);
    background-color: theme(colors.gray.200);
    border-color: theme(colors.warning.800);
  }

  .button-success {
    color: theme(colors.white);
    background-color: theme(colors.success.DEFAULT);
    border-color: theme(colors.success.DEFAULT);
  }
  .button-success:hover {
    background-color: theme(colors.success.600);
    border-color: theme(colors.success.600);
  }
  .button-success:disabled {
    color: theme(colors.gray.200);
    background-color: theme(colors.success.800);
    border-color: theme(colors.success.800);
  }

  .button-success-outline {
    color: theme(colors.success.DEFAULT);
    background-color: theme(colors.white);
    border-color: theme(colors.success.DEFAULT);
  }
  .button-success-outline:hover {
    color: theme(colors.success.600);
    border-color: theme(colors.success.600);
  }
  .button-success-outline:disabled {
    color: theme(colors.success.800);
    background-color: theme(colors.gray.200);
    border-color: theme(colors.success.800);
  }

  .button-md {
    padding: theme(padding.2);
    font-size: theme(fontSize.lg);
  }

}